@model GuildCars.UI.Models.SpecialsViewModel
@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Specials</h2>

@using (Html.BeginForm("Specials", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row" style="border:solid 1px black; width:1200px">

        <div class="form-group" style="padding-left:100px;">
            <label for="Title" style="padding:  10px 50px 0px 20px;">Title:</label><br />
            @Html.TextAreaFor(m => m.Title, new { style = "padding:  10px 0px 0px 10px; width:250px;" })
            <br />@Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding-left:100px;">
            <label style="padding: 0px 10px 0px 20px">Description</label><br />
            @Html.TextAreaFor(m => m.Description, new { style = "width: 250px; height:100px;" })
            <br />@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" style="padding:  0px 0px 0px 110px;">
            <button class="button1">Save</button>
        </div>
  </div>
}
    <div class="row" style="padding:  10px 0px 0px 0px">
        @foreach (var s in Model.Specials)
        {

            <table border="1" class="table table-striped">
                <tbody>
                    <tr>
                        <td style="width:100px">
                            <img src="~/images/dollarsign.jpg" />
                        </td>
                        <td style="width:1500px">
                            <table border="0" style="width:100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="float:left"><h3>@s.Title.ToUpper()</h3></div>
                                            <div style="float:right">
                                                <input type="button" title="Delete" value="DELETE" style="background-color:red; color: white" onclick="location.href = '@Url.Action("DeleteSpecial","Admin", new { sid = s.ID, t = s.Title })'" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>@s.Description</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        }

    </div>
